<div class="date-range-picker" ng-class="{'open': pickerCtrl.pop}">
	<div class="input-group">
		<input type="text" class="form-control" placeholder="{{pickerCtrl.placeholder}}" ng-value="pickerCtrl.currentDateStr" readonly/>
		<span class="input-group-addon" ng-click="pickerCtrl.showPop()">
	        <span class="glyphicon glyphicon-calendar"></span>
		</span>
	</div>
	<div class="dropdown-menu">
		<div>
			<button ng-click="pickerCtrl.lastMonth()" class="btn btn-default">最近一个月</button>
			<button ng-click="pickerCtrl.lastQuarter()" class="btn btn-default">最近三个月</button>
			<button ng-click="pickerCtrl.lastHalfYear()" class="btn btn-default">最近半年</button>
			<button ng-click="pickerCtrl.customize=true" class="btn btn-default">自定义</button>
		</div>
		
		<div class="calendar-container" ng-show="pickerCtrl.customize">
			<div class="col-xs-6">
				<sn-calendar min-date="pickerCtrl.minDate" max-date="pickerCtrl.maxDate" year="pickerCtrl.fromYear" month="pickerCtrl.fromMonth" date="pickerCtrl.fromDay" date-click="pickerCtrl.fromDateClick()"></sn-calendar>
			</div>
			<div class="col-xs-6">
				<sn-calendar min-date="pickerCtrl.minDate" max-date="pickerCtrl.maxDate" year="pickerCtrl.toYear" month="pickerCtrl.toMonth" date="pickerCtrl.toDay" date-click="pickerCtrl.toDateClick()"></sn-calendar>
			</div>
		</div>
		<!--sn-timepicker init-hour="initHour" init-minute="initMinute" init-second="initSecond"></sn-timepicker-->
	</div>
</div>