<div class="date-range-picker" ng-class="{'open': pop}">
	<div class="input-group">
		<input type="text" class="form-control" placeholder="{{placeholder}}" ng-value="currentDateStr" readonly/>
		<span class="input-group-addon" ng-click="showPop()">
	        <span class="glyphicon glyphicon-calendar"></span>
		</span>
	</div>
	<div class="dropdown-menu">
		<div class="calendar-container">
			<div class="col-xs-6">
				<sn-calendar min-date="minDate" max-date="maxDate" selected-date="fromDate" ng-show="pop" date-click="dateClick()"></sn-calendar>
			</div>
			<div class="col-xs-6">
				<sn-calendar min-date="minDate" max-date="maxDate" selected-date="toDate" ng-show="pop" date-click="dateClick()"></sn-calendar>
			</div>
		</div>
		<!--sn-timepicker init-hour="initHour" init-minute="initMinute" init-second="initSecond"></sn-timepicker-->
	</div>
</div>