<!DOCTYPE html>
<html>
	<head>
		<title></title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<link href="http://libs.baidu.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
		
		<link rel="stylesheet" href="css/controls.css" />
		<script type="text/javascript" src="libs/angular/angular.min.js"></script>
		<script type="text/javascript" src="scripts/controls/package.js"></script>
		<script type="text/javascript" src="scripts/controls/pager.js"></script>
		<script type="text/javascript" src="scripts/controls/tree.js"></script>
        <script type="text/javascript" src="scripts/controls/calendar.js"></script>
        <script type="text/javascript" src="scripts/controls/timepicker.js"></script>
        <script type="text/javascript" src="scripts/controls/datetimepicker.js"></script>
		<script type="text/javascript" src="scripts/test.js"></script>
		<script type="text/javascript" src="scripts/main.js"></script>
	</head>
	<body ng-app="sn">
        <div class="col-md-4">
            <div ng-controller="TestDateCtrl" class="panel panel-default">
                <div class="panel-heading">日期控件</div>
                <div class="panel-body">
                    <form role="form">
                        <div class="form-group">
                            <label>日期</label>
                            <sn-datetimepicker ng-model="date"></sn-datetimepicker>
                        </div>
                    </form>
                </div>
            </div>
            <div ng-controller="TestTreeCtrl" class="panel panel-default">
                <div class="panel-heading">树控件</div>
                <div class="panel-body">
                    <tree data="areaData"></tree>
                    <button ng-click="addNode()">add node</button>
                    <tree data="armyData"></tree>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div ng-controller="TestPagerCtrl" class="panel panel-default">
                <div class="panel-heading">树控件</div>
                <div class="panel-body">
                    <sn-pager itemsPerPage="15" totalItems="{{totalItems1}}" listSize="10"></sn-pager>
                    <button ng-click="changeTotal()">change total</button>
                    <sn-pager itemsPerPage="8" totalItems="{{totalItems2}}"></sn-pager>
                </div>
            </div>
        </div>
	</body>
</html>