sn-datetimepicker {
    display: inline-block;
    vertical-align: middle;
}

.datetime-picker {
    position: relative;
    display: table;
}

.datetime-picker .calendar-container {
    width: 250px;
    padding: 0 4px;
    margin-top: 0px;
    z-index: 99999 !important;
    border-radius: 4px;
    margin-bottom: 10px;
}

.datetime-picker .calendar-container:before,
.datetime-picker .calendar-container:after {
    display: table;
    content: " ";
}

.datetime-picker .calendar-container:after {
    clear: both;
}