sn-list {
    max-height: 200px;
	overflow-y: auto;
	display: block;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

sn-list .list {
	position: relative;
}

sn-list ul {
	position: absolute;
	display: block;
	width: 100%;
}

sn-list ul .list-group-item:first-child,
sn-list ul .list-group-item:last-child {
    border-radius: 0px;
}

sn-list ul .list-group-item {
	border-right: 0px;
}