<div class="dropdown" ng-class="{'open':multiSelectCtrl.pop}">
	<button class="btn btn-default dropdown-toggle" type="button" ng-click="multiSelectCtrl.showPop()">
		{{multiSelectCtrl.selectedItemsStr()}}
		<span class="caret"></span>
	</button>
	<ul class="dropdown-menu">
		<li ng-repeat-start="option in multiSelectCtrl.options" ng-if="option!='seperator'" ng-class="{'active':option==multiSelectCtrl.selectedItem}"
		ng-click="multiSelectCtrl.select(option)">
			<a tabindex="-1" href="javascript:void(0)">
				{{option.name}}
				<span class="glyphicon glyphicon-ok pull-right" ng-if="option.$checked"></span>
			</a>
		</li>
		<li ng-repeat-end class="divider" ng-if="option=='seperator'"></li>
	</ul>
</div>