.ant-checkbox {
  white-space: nowrap;
  cursor: pointer;
  outline: none;
  display: inline-block;
  line-height: 1;
  position: relative;
  vertical-align: middle;
}
.ant-checkbox:hover .ant-checkbox-inner {
  border-color: #bcbcbc;
}
.ant-checkbox-inner {
  position: relative;
  top: 0;
  left: 0;
  display: inline-block;
  width: 14px;
  height: 14px;
  border-width: 1px;
  border-style: solid;
  border-radius: 3px;
  border-color: #d9d9d9;
  background-color: #fff;
  -webkit-transition: border-color 0.1s cubic-bezier(0.68, -0.55, 0.27, 1.55), background-color 0.1s cubic-bezier(0.68, -0.55, 0.27, 1.55);
  transition: border-color 0.1s cubic-bezier(0.68, -0.55, 0.27, 1.55), background-color 0.1s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}
.ant-checkbox-inner:after {
  -webkit-transform: rotate(45deg) scale(0);
      -ms-transform: rotate(45deg) scale(0);
          transform: rotate(45deg) scale(0);
  position: absolute;
  left: 4px;
  top: 1px;
  display: table;
  width: 5px;
  height: 8px;
  border: 2px solid #fff;
  border-top: 0;
  border-left: 0;
  content: ' ';
  -webkit-transition: all 0.1s cubic-bezier(0.6, -0.3, 0.74, 0.05);
  transition: all 0.1s cubic-bezier(0.6, -0.3, 0.74, 0.05);
}
.ant-checkbox-input {
  position: absolute;
  left: 0;
  z-index: 1;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
.ant-checkbox-indeterminate .ant-checkbox-inner {
  border-color: #2db7f5;
  background-color: #2db7f5;
}
.ant-checkbox-indeterminate .ant-checkbox-inner:after {
  content: ' ';
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  position: absolute;
  left: 2px;
  top: 5px;
  width: 8px;
  height: 1px;
}
.ant-checkbox-indeterminate:hover .ant-checkbox-inner {
  border-color: #2db7f5;
}
.ant-checkbox-checked:hover .ant-checkbox-inner {
  border-color: #2db7f5;
}
.ant-checkbox-checked .ant-checkbox-inner {
  border-color: #2db7f5;
  background-color: #2db7f5;
}
.ant-checkbox-checked .ant-checkbox-inner:after {
  -webkit-transform: rotate(45deg) scale(1);
      -ms-transform: rotate(45deg) scale(1);
          transform: rotate(45deg) scale(1);
  position: absolute;
  left: 4px;
  top: 1px;
  display: table;
  width: 5px;
  height: 8px;
  border: 2px solid #fff;
  border-top: 0;
  border-left: 0;
  content: ' ';
  -webkit-transition: all 0.2s cubic-bezier(0.18, 0.89, 0.32, 1.28) 0.1s;
  transition: all 0.2s cubic-bezier(0.18, 0.89, 0.32, 1.28) 0.1s;
}
.ant-checkbox-disabled.ant-checkbox-checked:hover .ant-checkbox-inner {
  border-color: #d9d9d9;
}
.ant-checkbox-disabled.ant-checkbox-checked .ant-checkbox-inner {
  background-color: #f3f3f3;
  border-color: #d9d9d9;
}
.ant-checkbox-disabled.ant-checkbox-checked .ant-checkbox-inner:after {
  -webkit-animation-name: none;
          animation-name: none;
  border-color: #ccc;
}
.ant-checkbox-disabled:hover .ant-checkbox-inner {
  border-color: #d9d9d9;
}
.ant-checkbox-disabled .ant-checkbox-inner {
  border-color: #d9d9d9;
  background-color: #f3f3f3;
}
.ant-checkbox-disabled .ant-checkbox-inner:after {
  -webkit-animation-name: none;
          animation-name: none;
  border-color: #f3f3f3;
}
.ant-checkbox-disabled .ant-checkbox-inner-input {
  cursor: default;
}
.ant-checkbox + span {
  margin-left: 8px;
}