.calendar {
    min-width: 13.75rem;
    font-size: 0.75rem;
    background-color: #ffffff;
    font-family: "Tahoma";
}

.calendar a,
.calendar span {
    display: block;
    text-align: center;
    text-decoration: none;
    padding: .3125rem 0;
    border-radius: 4px;
    color: #000000;
}

.calendar a:hover {
    background: #eeeeee;
    cursor: pointer;
}

.calendar .calendar-row {
    margin: 0 0 .1rem;
    width: 100%;
}
.calendar .calendar-row:before,
.calendar .calendar-row:after {
    display: table;
    content: "";
}
.calendar .calendar-row:after {
    clear: both;
}

.calendar .calendar-row>div {
    float: left;
}

.calendar .calendar-row a {
    margin: 0.1em;
}

.calendar .calendar-header a,
.calendar .calendar-header span {
    padding: 1rem 0;
    border: 1px transparent solid;
    color: #000000;
    font-weight: 800;
    font-size: 1.25em;
}

.calendar .calendar-header {
}

.calendar .prev,
.calendar .next,
.calendar .date,
.calendar .day {
    width: 14.285714285714285%;
}

.calendar .month-title,
.calendar .year-title {
    width: 71.42857142857143%;
}

.calendar .date-title {
    width: 21.428571428571427%;
}

.calendar .day span {
    font-weight: 800;
    border: 1px transparent solid;
}

.calendar .active a {
    background-color: #428bca;
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.calendar .disabled a,
.calendar .disabled a:hover {
    background: none;
    color: #a0a0a0;
    cursor: not-allowed;
}

.calendar .year,
.calendar .month {
    width: 25%;
}

.calendar .year a,
.calendar .month a {
    padding: 1.3125rem 0;
}
