<div class="timepicker">
	<div class="row col-md-4">
		<select class="form-control" ng-disabled="timepickerCtrl.disabled" ng-options="hour for hour in timepickerCtrl.hours" ng-model="timepickerCtrl.hour">
		</select>
	</div>
	<div class="row col-md-4">
		<select class="form-control" ng-disabled="timepickerCtrl.disabled" ng-options="minute for minute in timepickerCtrl.minutes" ng-model="timepickerCtrl.minute">
		</select>
	</div>
	<div class="row col-md-4">
		<select class="form-control" ng-disabled="timepickerCtrl.disabled" ng-options="second for second in timepickerCtrl.seconds" ng-model="timepickerCtrl.second">
		</select>
	</div>
</div>