<div ng-class="datetimepickerClass()">
	<div class="input-group">
		<input type="text" class="form-control" placeholder="{{placeholder}}" ng-value="currentDateStr" readonly/>
	    <span class="input-group-addon" ng-click="showPop()">
	        <span class="glyphicon glyphicon-calendar"></span>
	    </span>
	</div>
	<div class="dropdown-menu">
		<sn-calendar init-year="initYear" init-month="initMonth" init-date="initDate"></sn-calendar>
		<sn-timepicker init-hour="initHour" init-minute="initMinute" init-second="initSecond"></sn-timepicker>
	</div>
</div>