<div class="sn-timepicker">
    <div class="timepicker-picker">
        <table>
            <tbody>
            <tr>
                <td>
                    <button class="btn btn-default timepicker-increase" ng-click="increaseHour()">+</button>
                </td>
                <td class="separator"></td>
                <td>
                    <button class="btn btn-default timepicker-increase" ng-click="increaseMinute()">+</button>
                </td>
                <td class="separator"></td>
                <td>
                    <button class="btn btn-default timepicker-increase" ng-click="increaseSecond()">+</button>
                </td>
                <td class="separator"></td>
            </tr>
            <tr>
                <td ng-click="switchView(4)">
                    <input class="form-control time-input" type="text" readonly ng-model="currentHour"/>
                </td>
                <td class="separator">点</td>
                <td ng-click="switchView(5)">
                    <input class="form-control time-input" type="text" readonly ng-model="currentMinute"/>
                </td>
                <td class="separator">分</td>
                <td ng-click="switchView(6)">
                    <input class="form-control time-input" type="text" readonly ng-model="currentSecond"/>
                </td>
                <td class="separator">秒</td>
            </tr>
            <tr>
                <td>
                    <button class="btn btn-default timepicker-decrease" ng-click="decreaseHour()">-</button>
                </td>
                <td class="separator"></td>
                <td>
                    <button class="btn btn-default timepicker-decrease" ng-click="decreaseMinute()">-</button>
                </td>
                <td class="separator"></td>
                <td>
                    <button class="btn btn-default timepicker-decrease" ng-click="decreaseSecond()">-</button>
                </td>
                <td class="separator"></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="datepicker-months" ng-show="viewMode==4">
        <table class="table-condensed">
            <thead>
            <tr>
                <th class="switch">当前小时：{{currentHour}}</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <span ng-repeat="hour in hours" ng-class="hourClass($index)"
                          ng-click="selectHour($index)">{{hour}}</span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="datepicker-minutes" ng-show="viewMode==5">
        <table class="table-condensed">
            <thead>
            <tr>
                <th class="switch">当前分钟：{{currentMinute}}</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <span ng-repeat="minute in minutes" ng-class="minuteClass($index)" ng-click="selectMinute($index)">{{minute}}</span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="datepicker-seconds" ng-show="viewMode==6">
        <table class="table-condensed">
            <thead>
            <tr>
                <th class="switch">当前秒钟：{{currentSecond}}</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <span ng-repeat="second in seconds" ng-class="secondClass($index)" ng-click="selectSecond($index)">{{second}}</span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>