<div class="dropdown" ng-class="{'open':selectCtrl.pop}">
	<button class="btn btn-default dropdown-toggle" type="button" ng-click="selectCtrl.showPop()" ng-disabled="selectCtrl.disabled">
		{{selectCtrl.selectedItem.name || selectCtrl.placeholder}}
		<span class="caret"></span>
	</button>
	<ul class="dropdown-menu">
		<li ng-repeat-start="option in selectCtrl.options" ng-if="option!='seperator'" ng-class="{'active':option==selectCtrl.selectedItem}"
		ng-click="selectCtrl.select(option)">
			<a tabindex="-1" href="javascript:void(0)">{{option.name}}</a>
		</li>
		<li ng-repeat-end class="divider" ng-if="option=='seperator'"></li>
	</ul>
</div>