<div class="dropdown" ng-class="{'open':pop}">
	<button class="btn btn-default dropdown-toggle" type="button" ng-click="showPop()">
		{{selectedItem.name}}
		<span class="caret"></span>
	</button>
	<ul class="dropdown-menu">
		<li ng-repeat-start="option in options" ng-if="option!='seperator'" ng-class="{'active':option==selectedItem}" ng-click="select(option)">
			<a tabindex="-1" href="javascript:void(0)">{{option.name}}</a>
		</li>
		<li ng-repeat-end class="divider" ng-if="option=='seperator'"></li>
	</ul>
</div>