.date-range-picker {
    position: relative;
    display: table;
}

.date-range-picker .calendar-container {
    width: 500px;
    margin-top: 0px;
    z-index: 99999 !important;
    border-radius: 4px;
}