.date-range-picker {
    position: relative;
}

.date-range-picker .calendar-container {
    width: 480px;
    padding: 4px;
    margin-top: 0px;
    z-index: 99999 !important;
    border-radius: 4px;
}