<div class="calendar">
	<div class="date-view" ng-show="calendarCtrl.viewMode==0">
		<div class="calendar-row calendar-header">
			<div class="prev" ng-click="calendarCtrl.previousYear()">
				<a href="javascript:void(0)">‹‹</a>
			</div>
			<div class="prev" ng-click="calendarCtrl.previousMonth()">
				<a href="javascript:void(0)">‹</a>
			</div>
			<div class="date-title" ng-click="calendarCtrl.viewMode=2">
				<a href="javascript:void(0)">{{calendarCtrl.year}}年</a>
			</div>
			<div class="date-title" ng-click="calendarCtrl.viewMode=1">
				<a href="javascript:void(0)">{{calendarCtrl.monthArr[calendarCtrl.month]}}</a>
			</div>
			<div class="next" ng-click="calendarCtrl.nextMonth()">
				<a href="javascript:void(0)">›</a>
			</div>
			<div class="next" ng-click="calendarCtrl.nextYear()">
				<a href="javascript:void(0)">››</a>
			</div>
		</div>

		<div class="calendar-row">
			<div class="day" ng-repeat="day in calendarCtrl.weekdayArr">
				<span>{{day}}</span>
			</div>
		</div>

		<div class="calendar-row" ng-repeat="row in calendarCtrl.days">
			<div class="date" ng-repeat="day in row track by $index"
			     ng-class="{'disabled':!calendarCtrl.dateInRange(day),'active':calendarCtrl.dateIsSelected(day)}"
			     ng-click="calendarCtrl.selectDate(day)">
				<a href="javascript:void(0)" ng-if="day">{{day}}</a>
				<span ng-if="!day"></span>
			</div>
		</div>
	</div>
	<div class="month-view" ng-show="calendarCtrl.viewMode==1">
		<div class="calendar-row calendar-header">
			<div class="prev" ng-click="calendarCtrl.previousYear()">
				<a href="javascript:void(0)">‹</a>
			</div>
			<div class="month-title" ng-click="viewMode=2">
				<a href="javascript:void(0)">{{calendarCtrl.year}}</a>
			</div>
			<div class="next" ng-click="calendarCtrl.nextYear()">
				<a href="javascript:void(0)">›</a>
			</div>
		</div>

		<div class="calendar-row">
			<div class="month"
			     ng-repeat="month in calendarCtrl.months"
			     ng-class="{'active':month==calendarCtrl.months[calendarCtrl.month]}"
			     ng-click="calendarCtrl.selectMonth($index)">
				<a href="javascript:void(0)">{{calendarCtrl.monthArr[month]}}</a>
			</div>
		</div>
	</div>

	<div class="year-view" ng-show="calendarCtrl.viewMode==2">
		<div class="calendar-row calendar-header">
			<div class="prev" ng-click="calendarCtrl.previousAge()">
				<a href="javascript:void(0)">‹</a>
			</div>
			<div class="year-title">
				<span>{{calendarCtrl.years[0] + " - " + calendarCtrl.years[9]}}</span>
			</div>
			<div class="next" ng-click="calendarCtrl.nextAge()">
				<a href="javascript:void(0)">›</a>
			</div>
		</div>

		<div class="calendar-row">
			<div class="year"
			     ng-repeat="year in calendarCtrl.years"
			     ng-class="{'active':year==calendarCtrl.year}"
			     ng-click="calendarCtrl.selectYear(year)">
				<a href="javascript:void(0)">{{year}}</a>
			</div>
		</div>
	</div>
</div>