<div class="calendar">
	<div class="date-view" ng-show="calendarCtrl.viewMode==0">
		<div class="calendar-row calendar-header">
			<div class="prev" ng-click="calendarCtrl.calendar.previousYear()">
				<a href="javascript:void(0)">‹‹</a>
			</div>
			<div class="prev" ng-click="calendarCtrl.calendar.previousMonth()">
				<a href="javascript:void(0)">‹</a>
			</div>
			<div class="date-title" ng-click="calendarCtrl.viewMode=2">
				<a href="javascript:void(0)">{{calendarCtrl.calendar.selectedDate.date.getFullYear()}}年</a>
			</div>
			<div class="date-title" ng-click="calendarCtrl.viewMode=1">
				<a href="javascript:void(0)">{{calendarCtrl.monthArr[calendarCtrl.calendar.selectedDate.date.getMonth()]}}</a>
			</div>
			<div class="next" ng-click="calendarCtrl.calendar.nextMonth()">
				<a href="javascript:void(0)">›</a>
			</div>
			<div class="next" ng-click="calendarCtrl.calendar.nextYear()">
				<a href="javascript:void(0)">››</a>
			</div>
		</div>

		<div class="calendar-row">
			<div class="day" ng-repeat="day in calendarCtrl.weekdayArr">
				<span>{{day}}</span>
			</div>
		</div>

		<div class="calendar-row" ng-repeat="row in calendarCtrl.calendar.days">
			<div class="date" ng-repeat="day in row track by $index"
			     ng-class="{'disabled':!calendarCtrl.dateInRange(day),'active':!(day-calendarCtrl.calendar.selectedDate)}"
			     ng-click="calendarCtrl.selectDate(day)">
				<a href="javascript:void(0)" ng-if="day">{{day.date.getDate()}}</a>
				<span ng-if="!day"></span>
			</div>
		</div>
	</div>
	<div class="month-view" ng-show="calendarCtrl.viewMode==1">
		<div class="calendar-row calendar-header">
			<div class="prev" ng-click="calendarCtrl.calendar.previousYear()">
				<a href="javascript:void(0)">‹</a>
			</div>
			<div class="month-title" ng-click="viewMode=2">
				<a href="javascript:void(0)">{{calendarCtrl.calendar.year}}</a>
			</div>
			<div class="next" ng-click="calendarCtrl.calendar.nextYear()">
				<a href="javascript:void(0)">›</a>
			</div>
		</div>

		<div class="calendar-row">
			<div class="month"
			     ng-repeat="month in calendarCtrl.calendar.months"
			     ng-class="{'active':month==calendarCtrl.calendar.months[calendarCtrl.calendar.month]}"
			     ng-click="calendarCtrl.selectMonth($index)">
				<a href="javascript:void(0)">{{calendarCtrl.monthArr[month]}}</a>
			</div>
		</div>
	</div>

	<div class="year-view" ng-show="calendarCtrl.viewMode==2">
		<div class="calendar-row calendar-header">
			<div class="prev" ng-click="calendarCtrl.calendar.previousAge()">
				<a href="javascript:void(0)">‹</a>
			</div>
			<div class="year-title">
				<span>{{calendarCtrl.calendar.years[0] + " - " + calendarCtrl.calendar.years[9]}}</span>
			</div>
			<div class="next" ng-click="calendarCtrl.calendar.nextAge()">
				<a href="javascript:void(0)">›</a>
			</div>
		</div>

		<div class="calendar-row">
			<div class="year"
			     ng-repeat="year in calendarCtrl.calendar.years"
			     ng-class="{'active':year==calendarCtrl.calendar.year}"
			     ng-click="calendarCtrl.selectYear(year)">
				<a href="javascript:void(0)">{{year}}</a>
			</div>
		</div>
	</div>
</div>