<div>
    <sn-scrollbar></sn-scrollbar>
    <div class="viewport">
        <div class="overview" style="max-height: 247px;overflow: hidden;">
            <ul class="list-group">
                <li ng-repeat="item in visibleListData" class="list-group-item"
                        ng-click="select(item)"
                        ng-class="{true:'active'}[item==selectedItem]">
                    <input type="checkbox" ng-model="item.checked">
                    {{item.index}}
                </li>
            </ul>
        </div>
    </div>
</div>