<div class="date-picker" ng-class="{'open': datepickerCtrl.pop}">
	<div class="input-group">
		<input type="text" class="form-control" placeholder="{{datepickerCtrl.placeholder}}" ng-value="datepickerCtrl.currentDateStr" readonly/>
	    <span class="input-group-addon" ng-click="datepickerCtrl.showPop()">
	        <span class="glyphicon glyphicon-calendar"></span>
	    </span>
	</div>
	<div class="dropdown-menu">
		<div class="calendar-container">
			<sn-calendar min-date="datepickerCtrl.minDate" max-date="datepickerCtrl.maxDate" selected-date="datepickerCtrl.selectedDate"
			             ng-show="datepickerCtrl.pop" date-click="datepickerCtrl.dateClick()"></sn-calendar>
		</div>
		<!--sn-timepicker init-hour="initHour" init-minute="initMinute" init-second="initSecond"></sn-timepicker-->
	</div>
</div>